.hexagon-wrapper {
  clip-path: polygon(25% 0%, 75% 0%,
      100% 50%, 75% 100%,
      25% 100%, 0% 50%);
}

.hexagon-inner {
  clip-path: inherit;
}

.hexagon-content {
  clip-path: inherit;
}

/* CLOUD BACKGROUND */

.cloud {
  position: absolute;
  background: url('https://upload.wikimedia.org/wikipedia/commons/1/13/Cloud_%28fixed_width%29.svg') no-repeat center center;
  background-size: contain;
}

@keyframes floatCloud {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(150vw);
  }
}

.animate-cloud {
  animation-name: floatCloud;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* Swipe left animation */

.swipe-left {
    width: 12px;
    height: 12px;
    background-color: #4b5563; /* Tailwind's gray-700 */
    border-radius: 9999px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    animation: swipeLeft 1.8s ease-in-out infinite;
}

@keyframes swipeLeft {
    0% {
        left: 90%;
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    70% {
        left: 10%;
        opacity: 1;
    }
    100% {
        left: 0%;
        opacity: 0;
    }
}